Flask
Flask-Cors
Flask-Bcrypt
Flask-JWT-Extended
Flask-SQLAlchemy
SQLAlchemy
python-dotenv
openai
tiktoken
pinecone-client
supabase
requests
beautifulsoup4
PyPDF2
python-docx
pandas
numpy
pdfminer.six
