Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-SQLAlchemy
SQLAlchemy
Werkzeug
openai
supabase
pinecone-client
python-dotenv
nltk
spacy
tiktoken
PyPDF2
pdfplumber
python-docx
python-pptx
pandas
requests
beautifulsoup4
gunicorn